@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pt-sans-caption), ui-sans-serif, sans-serif, system-ui;
  --font-serif: var(--font-lora), serif;
  --font-mono: var(--font-ibm-plex-mono), monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1793 0.0026 325.6840);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3996 0.0357 344.9233);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3996 0.0357 344.9233);
  --primary: oklch(0.4708 0.1972 285.1984);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(1.0000 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(1.0000 0 0);
  --muted-foreground: oklch(0 0 0);
  --accent: oklch(0.9897 0.0041 301.4267);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.8224 0.1690 140.1815);
  --border: oklch(1.0000 0 0);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.4708 0.1972 285.1984);
  --chart-1: oklch(0.4708 0.1972 285.1984);
  --chart-2: oklch(0.4609 0.2033 301.4945);
  --chart-3: oklch(0.3867 0.1792 301.9507);
  --chart-4: oklch(0.3361 0.1512 304.0425);
  --chart-5: oklch(0.2941 0.1228 304.7717);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.3996 0.0357 344.9233);
  --sidebar-primary: oklch(0.4708 0.1972 285.1984);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9897 0.0041 301.4267);
  --sidebar-accent-foreground: oklch(0.3996 0.0357 344.9233);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(0.4708 0.1972 285.1984);
  --destructive-foreground: oklch(1.0000 0 0);
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.1;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2270 0.0400 349.4186);
  --foreground: oklch(0.9399 0.0042 337.3549);
  --card: oklch(0.2995 0.0417 346.2402);
  --card-foreground: oklch(0.9399 0.0042 337.3549);
  --popover: oklch(0.2995 0.0417 346.2402);
  --popover-foreground: oklch(0.9399 0.0042 337.3549);
  --primary: oklch(0.5739 0.1631 303.2115);
  --primary-foreground: oklch(0.2270 0.0400 349.4186);
  --secondary: oklch(0.3584 0.0367 345.2150);
  --secondary-foreground: oklch(0.7720 0.0070 5.6820);
  --muted: oklch(0.2618 0.0326 345.1732);
  --muted-foreground: oklch(0.5942 0.0239 347.7468);
  --accent: oklch(0.3996 0.0357 344.9233);
  --accent-foreground: oklch(0.7720 0.0070 5.6820);
  --destructive: oklch(0.8224 0.1690 140.1815);
  --border: oklch(0.4770 0.0311 344.1455);
  --input: oklch(0.4770 0.0311 344.1455);
  --ring: oklch(0.5739 0.1631 303.2115);
  --chart-1: oklch(0.5739 0.1631 303.2115);
  --chart-2: oklch(0.5923 0.1803 314.9660);
  --chart-3: oklch(0.4708 0.1972 285.1984);
  --chart-4: oklch(0.4609 0.2033 301.4945);
  --chart-5: oklch(0.3867 0.1792 301.9507);
  --sidebar: oklch(0.2995 0.0417 346.2402);
  --sidebar-foreground: oklch(0.9399 0.0042 337.3549);
  --sidebar-primary: oklch(0.5739 0.1631 303.2115);
  --sidebar-primary-foreground: oklch(0.2270 0.0400 349.4186);
  --sidebar-accent: oklch(0.3996 0.0357 344.9233);
  --sidebar-accent-foreground: oklch(0.7720 0.0070 5.6820);
  --sidebar-border: oklch(0.4770 0.0311 344.1455);
  --sidebar-ring: oklch(0.5739 0.1631 303.2115);
  --destructive-foreground: oklch(0.2270 0.0400 349.4186);
  --radius: 0.5rem;
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.1;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media (min-width: 640px) {
    .container {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  @media (min-width: 768px) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1200px;
    }
  }
}